.idea
__pycache__
.DS_Store
package.json
package-lock.json
node_modules

full-modal-deployment/node_modules
full-modal-deployment/frontend/.env
full-modal-deployment/frontend/dist
full-modal-deployment/frontend/node_modules
full-modal-deployment/package-lock.json
full-modal-deployment/package.json
